<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jambacabs.driver">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <dist:module dist:instant="true" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".JambaCabApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon"
        tools:targetApi="q">
        <activity android:name=".DynamicPagesActivity"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".NotificationDetailsActivity"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ResetPasswordActivity"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ShowVehicleDocActivity"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".VehicleDocumentsList"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_api_key" />

        <receiver
            android:name=".connections.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.location.PROVIDERS_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".connections.LocationService"
            android:enabled="true"/>
        <receiver
            android:name=".connections.MyLocationReceiver"
            android:enabled="true">
        </receiver>

        <receiver
            android:name=".helper.ReceiveSMSBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.gms.auth.api.phone.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Splash"
            android:configChanges="locale|orientation|keyboardHidden"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                tools:ignore="UnusedAttribute">
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="jambacabs_driver.page.link"
                    android:path="/rniX"
                    android:scheme="https" />
                <data
                    android:host="jambacabs_driver.page.link"
                    android:path="/rniX"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <service
            android:name=".connections.MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.RECEIVE">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".Home"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Otp"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Driver_SignIn"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".RideComplete"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ForgotPassword"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".Register"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Dashboard"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".EditProfile"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".MapOnlineOfflineActivity"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Account"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Documents"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Vehicles"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".AddVehicleActivity"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Inbox"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Payment"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".AddAccount"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Earnings"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".TransactionDetails"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".EarningDetails"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".TripHistory"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".FeedBackActivity"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
        android:name=".RideInfo"
        android:configChanges="locale|orientation|keyboardHidden"
        android:label="@string/app_name"
        android:windowSoftInputMode="stateAlwaysHidden" />

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />

        <activity
            android:name=".ShowDriverDocument"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Trips"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".Chat"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="${enableCrashReporting}" />
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>

        <service
            android:name=".singleton.FloatingViewService"
            android:enabled="true"
            android:exported="false"/>

    </application>

</manifest>